* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 16px;
  color: %10;
   }
#mainWindow {
  background-color: %0;
}
#sideBar #header,#sideBar #content,#sideBar #footer {
background-color: %1;
}
#sideBar #header QPushButton, #sideBar #content QPushButton{
  border: none;
  border-radius: 8px;
  background-color: %2;
}
#sideBar #header QPushButton:hover, #sideBar #content QPushButton:hover,#sideBar #footer QPushButton:hover {
  background-color: %3;
}
#sideBar #header{
  border-bottom-right-radius: 8px;
}
#sideBar #content {
  border-top-right-radius: 8px;
}
#sideBar #content QTreeWidget {
  background-color: %1;
}
#sideBar #footer QPushButton {
  border: none;
  border-radius: 8px;
  font-size: 14px;
}

#centralWidget, #centralWidget #test {
  background-color: %1;
  border: none;
}
#centralWidget QTabWidget {
  background-color: %1;
  border: none;
}

