* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 16px;
  color: #4c4f69;
}
#mainWindow {
  background-color: #eff1f5;
}
#sideBar #fixedSideBar, #sideBar #flexibleWidget *{
  background-color: #ccd0da;
}
#sideBar #fixedSideBar QPushButton, #sideBar #flexibleWidget #header QPushButton, #sideBar #flexibleWidget #footer QPushButton {
  border: none;
  border-radius: 8px;
  padding: 4px;
}
#sideBar #fixedSideBar QPushButton:hover, #sideBar #flexibleWidget #header QPushButton:hover, #sideBar #flexibleWidget #footer QPushButton:hover {
  background-color: #bcc0cc;
}
#sideBar #flexibleWidget #content QPushButton{
  border: none;
  border-radius: 8px;
  padding: 4px;
  background-color: #bcc0cc;
}
#sideBar #flexibleWidget #content QPushButton:hover {
  background-color: #acb0be;
}

#centralWidget {
  background-color: #eff1f5;
}
#centralWidget QTabWidget QWidget {
  background-color: #ccd0da;
}
#centralWidget QTabWidget::pane {
  border: none;
}
#centralWidget QTabWidget::tab-bar {
  left: 16px;
}
#centralWidget QTabBar::tab {
  padding: 0 0 2px 0 ; 
  background-color: #dce0e8;
}
#centralWidget QTabBar::tab:selected, #centralWidget QTabBar::tab:hover {
  background-color: #ccd0da;
}



